@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Barlow&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212121;
    font-family: "Barlow", sans-serif;
    font-weight: 800;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
}

.south::after {
    content: "S";
    position: absolute;
    font-size: 30px;
    color: white;
}

.north::after {
    content: "N";
    position: absolute;
    font-size: 30px;
    color: white;
}