* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212121;
}

.south::after {
    content: "S";
    position: absolute;
    font-size: 30px;
    color: white;
}

.north::after {
    content: "N";
    position: absolute;
    font-size: 30px;
    color: white;
}